/* Define Founts */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/jetbrain-mono/woff2/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/jetbrain-mono/woff2/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}