#mobile-menu {
    background: linear-gradient(135deg, rgba(125, 211, 252, .2), transparent, rgba(125, 211, 252, .2));
}

// Menu button on moble view
.icon-btn-active {
    span {
        .icon-top {
            transform: translateY(10px) rotate(45deg);
        }
        .icon-bottom {
            transform: translateY(-10px) rotate(-45deg);
        }
        .icon-mid {
            scale: 0.8;
            opacity: 0;
        }
    }
}