#menu-btn>div div {
    transition: .2s ease-in-out;
}

#menu-btn>div.active div:nth-child(1),
#menu-btn>div.active div:nth-child(3) {
    // top: 50%;
    transform: translate(15%, 115%) rotate(45deg);
    transition: .2s ease-in-out;
    transform-origin: left;
}

#menu-btn>div.active div:nth-child(3) {
    transform: translate(15%, -115%) rotate(-45deg);
}

#menu-btn>div.active div:nth-child(2) {
    opacity: 0;
    transition: .1s ease-in-out;
}