.scrollbar-hide {
    scrollbar-width: thin;
    scrollbar-color: #ffffff30 transparent;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ffffff30;
        border-radius: 6px;
    }
}