.stripes::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: repeating-linear-gradient(315deg,
            rgb(125 211 252 / 0.1) 0,
            rgb(125 211 252 / 0.1) 1px,
            transparent 0,
            transparent 14px);
    z-index: -1;
    pointer-events: none;
}

._element-stripes {
    background-image: repeating-linear-gradient(315deg,
            rgb(125 211 252 / 0.1) 0,
            rgb(125 211 252 / 0.1) 1px,
            transparent 0,
            transparent 14px);
}